---
// Import the component and all the images you want to use with it
import CSPicture from '@components/TemplateComponents/CSPicture.astro';
import mobileImage from '@assets/images/CTA/construction-m.jpg';
import desktopImage from '@assets/images/CTA/cabinets2.jpg';
import fallbackImage from '@assets/images/CTA/cabinets2.jpg';
import ctaBg from '@assets/images/CTA-Background-Image.jpg';

import { Picture } from 'astro:assets';
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---
<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->

<section id="cta-51">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Contact Us</span>
            <h2 class="cs-title font-serif">
              {title}
            </h2>
            <p class="cs-text">
                {description}
            </p>
            <a href="/contact" class="cs-button-solid">Contact Us</a>
        </div>
    </div>
    <!-- Background Image-->
    <picture class="cs-picture">
        <source media="(max-width: 600px)" srcset="/assets/images/cta-bg.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/cta-bg.jpg">
        <img loading="lazy" decoding="async" src="/assets/images/cta-bg.jpg" alt="cabinets" width="1920" height="1280" aria-hidden="true">
    </picture>
</section>
                                

<!-- <section class="bg-emerald-200/75 text-emerald-900">
  <div
    class="mx-auto max-w-6xl px-6 py-12 md:py-14 lg:py-16 text-center flex flex-col items-center gap-6"
  >
    <h2 class="font-serif text-3xl leading-tight md:text-4xl lg:text-5xl">
      {title}
    </h2>
    <p class="text-emerald-950">
      {description}
    </p>
    <a
      href="/contact"
      class="inline-flex items-center rounded-full bg-orange-200 hover:bg-orange-100 transition-colors text-gray-900 px-6 py-3 text-sm font-semibold focus:outline-none focus-visible:ring-2 focus-visible:ring-emerald-300"
    >
      Contact Us
    </a>
  </div>
</section> -->

<style lang="less">
/*-- -------------------------- -->
<---            CTA             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #cta-51 {
        padding: var(--sectionPadding);
        position: relative;

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title {
            color: var(--bodyTextColorWhite);
        }

        .cs-text {
            margin-bottom: (16/16rem);
            color: var(--bodyTextColorWhite);
            opacity: 0.8;
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-button-solid {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            min-width: (150/16rem);
            padding: 0 (24/16rem);
            background-color: var(--primary);
            border-radius: (4/16rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: (4/16rem);
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-picture {
            height: 100%;
            width: 100%;
            display: block;
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            z-index: -1;

            &:before {
                /* black color overlay */
                content: "";
                position: absolute;
                display: block;
                height: 100%;
                width: 100%;
                background: #000;
                opacity: 0.8;
                top: 0;
                left: 0;
                z-index: 1;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}

                                

                                
</style>
